@model IEnumerable<sqlwebapp.Models.Course>

<table style="border:solid">
    <thead>
        <tr>
            <td>Course Id</td>
            <td>Course Name</td>
            <td>Rating</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
     <tr  style="border:solid">
         <td>@item.ID</td>
         <td>@item.Name</td>
         <td>@item.Rating</td>
     </tr>
    }

</table>
